set system time-zone America/New_York
set system root-authentication encrypted-password {{ root_passwd }}

set system authentication-order {{ system.aaa_type }}
{% for svr in system.aaa_info %}
set system radius-server {{ svr.ip }} port 1812
set system radius-server {{ svr.ip }} secret {{ svr.secret }}
set system accounting events login
set system accounting events change-log
set system accounting events interactive-commands
set system accounting destination radius server {{ svr.ip }} accounting-port 1813
set system accounting destination radius server {{ svr.ip }} secret {{ svr.secret }}
{% endfor %}

set snmp v3 usm local-engine user {{ snmp.user }} {{ snmp.auth }} authentication-password {{ snmp.user_passwd }}
set snmp v3 usm local-engine user {{ snmp.user }} {{ snmp.priv }} privacy-password {{ snmp.user_passwd }}
set snmp v3 vacm security-to-group security-model usm security-name {{ snmp.user }} group SNMPV3GROUP
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level none read-view SNMPVIEW
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level none write-view SNMPVIEW
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level authentication read-view SNMPVIEW
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level authentication write-view SNMPVIEW
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level privacy read-view SNMPVIEW
set snmp v3 vacm access group SNMPV3GROUP default-context-prefix security-model any security-level privacy write-view SNMPVIEW
set snmp view SNMPVIEW oid .1 include

