!
version 12.2
service nagle
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime
service timestamps log datetime msec localtime
service password-encryption
service sequence-numbers
!
hostname {{ hostname }}-3850
ip route 0.0.0.0/0 {{ default_gw }}
!
{% if vlans %}
{% for v in vlans %}
!
vlan {{ v.tag }} 
 name {{ v.name }}
!
{% endfor %}
{% endif %}

